{{ define "footer" }}
  <footer class="d-flex text-center m-0 ">
      <ul class="d-flex">
        <li><a href=""><div data-icon="ei-cart" data-size="l" class="foo"></div></a></li>
        <li><a href=""><div data-icon="ei-pointer" data-size="l" class="foo"></div></a></li>
        <li><a href=""><div data-icon="ei-sc-instagram" data-size="l" class="foo"></div></a></li>
        <li><a href=""><div data-icon="ei-star" data-size="l" class="foo"></div></a></li>
        <li><a href=""><div data-icon="ei-archive" data-size="l" class="foo"></div></a></li>
      </ul>
  </footer>
{{end}}